.# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
**/node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# testing
/coverage

# next.js
.next/
**/out/

# production
**/dist
**/build/**

# misc
.DS_Store
*.pem
tsconfig.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# editors
!.vscode
.idea/**/*

# vercel
.vercel

!.vscode

# turbo
.turbo

# Local Netlify folder
.netlify

# Contentlayer
.contentlayer
