on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Vitest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          token: ${{ secrets.ACCESS_TOKEN }}

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Install dependencies
        run: pnpm i --ignore-scripts

      - name: Build packages
        run: pnpm build:packages

      - name: Build tokens
        run: pnpm build:tokens

      - name: Run tests
        run: pnpm test:ci
